/* Aula inicial :D */
/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../img/wallpaper-fundo-cima.jpg");
    background-size: 100vw 100vh;
    font-family: Arial;
    font-size: 10px;
    height: 100vh;
    color: whitesmoke;
  }

  /* se a tela tiver pelo menos 400 px, vai carregar estes estilos */
  @media (min-width: 400px){
    body{
      font-size: 14px;
    }
  }
  
  /* breakpoint */
  @media (min-width: 600px){
    body{
      font-size: 18px;
    }
  }
  
header {
  background-image: url("../img/wallpaper-fundo-cima.jpg");
  background-size: 100vw 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .menu a {
    display: block;
    padding: 10px 20px;
  }

  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }

  .site-title {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
  }
  
  .site-subtitle {
    font-family: 'Baloo 2', cursive;
    font-style: italic;
    line-height: 1.2em;
  }

  .div-portfolio-contato {
    background-image: url(../img/wallpaper-div.jpg);
    background-size: auto auto;
  }

  .portfolio {
    height: 100vh;
    padding: 1.5em;
  }

  .portfolio h2 {
    color: whitesmoke;
    font-family: 'Jost', sans-serif;
    margin-bottom: 0.62em;
  }

  .portfolio :not(h2) {
    color: whitesmoke;
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;
    height: 100vh;
  }

  @media (min-width: 625px) {
    .portfolio .grid {
      grid-template-columns: 260px 260px;
      justify-content: center;
    }
  }

  @media (min-width: 925px) {
    .portfolio .grid {
      align-content: center;
      grid-template-columns: repeat(3, 280px);
      height: calc(100vh - 4em - 38.67px - 0.62em);
      justify-content: center;
    }
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    height: 200px;
    width: 260px;
    object-fit: cover;
    object-position: top;
    border-radius: 5%;
  }
